    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/style/add-product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="tittle">Tittle</label>
                <input type="text" name="tittle" id="tittle">
            </div>
            <div class="form-control">
                <label for="imgUrl">Image Url</label>
                <input type="text" name="imgUrl" id="imgUrl">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price">
            </div>
            <div class="form-control">
                <label for="description">Price</label>
                <textarea name="description" id="description" rows="5"></textarea>
                </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>