    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/style/add-product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/add-product" method="POST">
            <div class="form-control">
                <label for="tittle">Tittle</label>
                <input type="text" name="tittle" id="tittle">
            </div>
            <button type="submit">Add Product</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>