h1 {
    background-color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;
}