h1 {
    text-align: center;
    margin-bottom: 90px;
}
body {
    font-family: 'Times New Roman', Times, serif;
}
label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 8.5rem;
    border: 3px solid black;
    margin: 15px;
    width: 18.8rem;
    border-radius: 10%;

}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
}
.btn {
    width: 6.5rem;
    height: 2.5rem;
}
.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}